<ion-view title="Age">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <ion-list>
            <ion-item>Age</ion-item>
        </ion-list>
        <div class="list card">
            <div class="item item-divider">Enter Your Birthday</div>
            <div class="item item-body">
                <form class="list">
                    <label class="item item-input" name="Birthday">
                        <span class="input-label">Input</span>
                        <input type="date" placeholder="">
                    </label>
                </form>
            </div>
        </div>
    </ion-content>
</ion-view>